<div style="text-align:center">
  <button routerLink="/todos">    <span>Todos los Paises</span>   </button> 
  <button routerLink="/africa">   <span>Africa</span>   </button> 
  <button routerLink="/america">  <span>America</span>  </button> 
  <button routerLink="/asia">     <span>Asia</span>     </button> 
  <button routerLink="/europa">   <span>Europa</span>   </button> 
  <button routerLink="/oceania">  <span>Oceania</span>  </button>
</div>
<div style="text-align: center;">
  <router-outlet></router-outlet>
</div>